.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.game-container {
    max-width: 700px;
    width: 100%;
    max-height: 700px;
    height:100%;
}